* {
    margin: 0;
}
header {
    text-align: center;
    background-color: #39782f;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}
nav a:link {
    text-decoration: underline;
    color: white;
}
li {
    display: inline-block;
    margin: 30px;
}
.paginaprincipal {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 0;
}
body {
    background-color: #050d0a;
    color: white;
    font-family: 'Mukta', sans-serif;
}
.blocoum {
    background-color: #123020;
    margin-left: 370px;
    margin-right: 370px;
    padding-bottom: 9px;
    border-radius: 25px;
    box-shadow: 20px 20px #081b11;
}
.blocodois {
    background-color: #123020;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 9px;
    border-radius: 25px;
    box-shadow: 20px 20px #081b11;
}
.aspas {
    color: #18422c;
}
.setinhaimg {
    width: 7px;
    height: 11px;
    margin-left: 100px;
}
.tituloscar {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 70px;
}
.titulogrande {
    text-align: center;
    font-size: 45px;
}
.titulopequeno {
    text-align: left;
    font-size: 36px;
    margin-left: 15px;
}
.textopeqtudo {
    display: grid;
    align-items: center;
    grid-template-columns: 110px 110px;
}
.fala {
    font-size: 40px;
    padding-left: 190px;
    padding-right: 190px;
    color: #96ff76;
    font-family: 'EB Garamond', serif;
    text-shadow: 10px 10px #081e12;
}
.textodentro {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
}
p {
    text-align: center;
}
.scarum {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}
.scardois {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 40%;
    max-height: 40%;
    filter: drop-shadow(25px 25px #081b11);
}
.scartres {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 40%;
    max-height: 40%;
    filter: drop-shadow(25px 25px #081b11);
}
.figureteste {
    position: relative;
}
.coroa {
    width: 70px;
    height: 70px;
    transform: rotate(10deg);
    position: absolute;
    top: 95px;
    bottom: auto;
    left: 715px;
    right: auto;
}
.therealking {
    width: 250px;
    height: 250px;
    transform: rotate(10deg);
    position: absolute;
    top: 230px;
    bottom: auto;
    left: 350px;
    right: auto;
}
figcaption {
    text-align: center;
    color: white;
}
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #39782f;
}